<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>{{ 'create_exams_title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="process">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>{{ 'schedule_grading_title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grading">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>{{ 'exam_grades_title' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
